.blogheader{
    background-color: grey;
    padding: 15px;
    font-family: fantasy;
    font-weight: 300;
    
}
.blogheading{
    background-color: whitesmoke;
    color: grey;
    padding: 15px;
    font-family: fantasy;
    font-weight: 400;
}
 ul{
    display: block; 
    margin: 0;
    padding: 0;
    width: 10%;
    background-color:lightgrey;
    border-radius: 20px;
    overflow: auto; 
    height: 100%;
    position: fixed;
    width: 15%;
 }
 li a{
     display: block;
     text-decoration: none;
     padding: 10px;
     font-weight: bolder;
     font-family: cursive;
     color:black;
 }
 li a:hover{
     background-color:grey;
     border-radius: 10px;
     transition: 1s;
 }
 div{
     margin-left: 15%;
     text-align: center;
 }
 p{
     text-align: left;
     padding: 20px;
 }
 img{
     border-radius: 5px;
     padding: left;
     margin-left: 15px; 
     border-radius: 25%;
     border-style: none;
     padding: 5px;
     object-fit: cover;
 }
 img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity:0.5;
    transition:1s; 
}   