h1{
    color:rgb(128, 128, 128);
    padding: 15px;
    border: 10px;
    border-color: black;
    margin: 10px;
    border-color:black;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

#line1{
    color:rgb(128, 128, 128);
    padding: 15px;
    border: 10px;
    border-color: black;
    margin: 10px;
    border-color:black;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    float: right;
    width:300px;
}

#line2{
    color:rgb(128, 128, 128);
    padding: 15px;
    border: 10px;
    border-color: black;
    margin: 10px;
    border-color:black;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    float: left;
    width: 200px;
}
#line3{
    color:rgb(128, 128, 128);
    padding: 15px;
    border: 10px;
    border-color: black;
    margin: 10px;
    border-color:black;
    padding: 20px;
    border-style:dashed;
    border-width: 2px;
    text-align: center;
    float: right;
    width: 290px;
}
#line4{
    color:rgb(128, 128, 128);
    padding: 15px;
    border: 10px;
    border-color: black;
    margin: 10px;
    border-color:black;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    float: left;
    width: 250px;
}
